.row.title
  %h1
    Stock Exchange Reminder
.row.choice
  .col-sm-2.col-sm-offset-1
    %button.btn.btn-primary
      user search something
      %span.glyphicon.glyphicon-search
  .col-sm-2.botton.col-sm-offset-3
    %button.btn.btn-info
      Moving Average
  .col-sm-2
    %button.btn.btn-warning
      Candlestick Chart
  .col-sm-1
    %button.btn.btn-danger
      Signal
.row.graph
  .col-lg-4.graph.col-sm-offset-4
