.row.title
  h1
    text-align: center
.row.choice
  margin-bottom: 38px
  .col-sm-2.col-sm-offset-1
    span.glyphicon.glyphicon-search
  .col-sm-2.botton
  .col-sm-2
  .col-sm-1

.row
  .col-lg-4.chart.col-sm-offset-1
    div#chartContainer
      height: 400px
      width: 100%   